     @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
*{
     margin: 2px;
     text-decoration: none;
     font-family: 'openSans';
}

html{
     scroll-behavior: smooth;
}

body{
     margin-top: 80px;
}
/* l'en-tete du site */


header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background: white;
     z-index: 1000;
}
.logo h1{
     font-size: 30px;
     font-weight: bolder;
}

.logo{
     display: flex;
     gap: 1px;
     align-items: center;
     justify-content: center;
     width: 20%;
}
.logo:first-child{
     font-size: larger;
     font-weight: bolder;
}


.menu-and-btn{
     display: flex;
     gap: 80px;
     align-items: center;
     padding: 10px;
     margin-left: 10px;
     margin-right: 10px;
      
}

ul {
     display: flex;
     gap: 30px;
     list-style: none;
}

.menu{
     gap: 10px;
     width: 90%;

}

li{
     text-decoration: none;
}

.item{
     cursor: pointer;
}

.item:hover{
     color: brown;
     transition: 3s;
}

.btn{
     background-color: rgb(52, 92, 235);
     border-radius: 5px;
     cursor: pointer;
     color: white;
     padding: 15px;
     width: 140px;
}
.btn:hover{
     background-color: rgb(11, 9, 9);
}

li{
     text-decoration: none;
}




  /* SECTION 1<!-- le grandt titre et l'image des drone et  stade --> */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

.heading{
    font-size:64px;
    display:flex;
    flex-direction:column;
}

.heading > div{
    overflow:hidden;
}

.heading > div > p{
    width:max-content;
    white-space:nowrap;
    margin:0;
    line-height:117%;
}

.heading div:nth-child(1) p{
    animation-delay: 0.2s;
}

.heading div:nth-child(2) p{
    animation-delay: 0.4s;
}

.heading div:nth-child(3) p{
    animation-delay: 0.6s;
}

.green{
    color:#32c267;
}

/* animation */
.slide-up{
    animation: slideUp 0.8s ease forwards;
    transform: translateY(100px);
    opacity: 0;
    font-family: sans-serif;
}

@keyframes slideUp{
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp{
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* délais pour chaque ligne */
.heading div:nth-child(2) p{
    animation-delay:0.05s;
}

.heading div:nth-child(3) p{
    animation-delay:0.075s;
}

@keyframes slide-up{
    0%{
        transform:translateY(100px);
    }
    100%{
        transform:translateY(0);
    }
}


.section-1{
     margin-top: 20px;
}

#big-title{
     font-size: 80px;
     font-family: sans-serif;
     width: 90%;
     font-weight: 500;
     margin: 20px;
}

.image-1{
     height: 700px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 15px;
     
}

.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content{
    position: relative;
    color: white;
    text-align: center;
    top: 40%;
}

/* couche sombre */
.overlay{
    position:absolute;
    top:0;
    z-index: -1;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5); /* plus le chiffre est grand plus c'est sombre */
}

.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
}


.image-1 p{
     display: flex;
     justify-content: start;
     margin: 15px;
     width: 32%;
     color: white;
     font-family: "Open Sans";
}

.image-1 button{
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
     cursor: pointer;
     width: 140px;
}
.image-1 button:hover{
     background-color: rgb(255, 255, 255);
     color: black;
}


.image-2{
     height: 500px;
     display: flex;
     gap: 10px;
     background-color: rgb(67, 67, 225);
     padding: 20px;
}


.image-2 .left{
     display: flex;
     gap: 60px;
     justify-content: start;
     flex-direction: column;
}



.image-2 p{
     display: flex;
     width: 70%;
     color: white;
}

.left .small-title{
     width: 100%;
     color: white;
}
/* .small-title{
     font-size: 50px;
}
  */



   /*SECTION 2 <!-- explication des fonctionalité avec image d'illustration --> */
 
.section-2{
     margin:20px;
}

.heading .small-title{
     color: black;
     font-size: 44px ;
     display: flex;
     font-weight: 500;
     font-family: sans-serif;
     gap: 5px;
     width: 44%;
     animation: slideUp 0.8s ease forwards;
    transform: translateY(100px);
    opacity: 0;
}

.top{
     display:flex;
     flex-direction: column;
     gap: 15px;
     margin-top: 240px;
}

.top p{
     width: 30%;
     font-family: sans-serif;
}

.trois-images{
     display: flex;
     flex-direction: column;
     gap: 20px;
     height: 520px;
     overflow-y: scroll;
     scrollbar-width: none;
     
}

.bottom{
     display: flex;
     flex-direction: column;
     gap: 20px;
     height: 550px;
     margin-top: 20px;
     scroll-behavior: smooth;
}

.btn123{
     display: flex;
     gap: 10px;
}

.btn123 .bt{
     padding: 5px;
     cursor: pointer;
}

.text-and-image{
     display: flex;
     justify-content: space-between;
     margin: 5px;
     
}

/* .texts{
     display: flex;
     flex-direction: column;
     overflow-y: scroll;
     width: 40%;
} */

.text{
     display: flex;
     flex-direction: column;
     gap: 15px;
     width: 30%;
     margin-top: 30px;
}

 

a{
     color: black;
}

a:hover{
     color: blue;
}


 




/* section-3  <!-- presentation dynamique de quelques solutions faites -->*/

.section-3{
     display: flex;
     justify-content: space-between;
     margin: 20px;
     background-color: rgba(251, 244, 244, 0.671);
     height: 600px;
}

.zone-text{
     display: flex;
     flex-direction: column;
     gap: 120px;
}

.zone-text .header{
     color: gray;
     font-size: large;
}

#content-text{
     display: flex;
     flex-direction: column;
     gap: 40px;
     width: 80%
}

#gauche{
     width: 40px;
     height: 40px;
     background-color: black;
     border-radius: 200%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 300px;
     color: white;
     cursor: pointer;
}

#droit{
     font-weight: 300px;
     width: 40px;
     height: 40px;
     background-color: black;
     border-radius: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     cursor: pointer;
}

#gauche:hover{
     background-color: white;
     color: black;
     font-weight: 300px;
     border: solid 1px black;
}

#droit:hover{
     background-color: white;
     color: black;
     font-weight: 300px;
          border: solid 1px black;
}

#content-text div{
     display: flex;
     flex-direction: column;
     gap: 20px;
}




/* partners <!-- presentation des partener --> */

.partners{
     display: flex;
     justify-content: space-between;
     margin: 15px;
     font-family: sans-serif;

}

.partners .left{
     display: flex;
     flex-direction: column;
     gap: 100px;
     width: 30%;
}

.partners .rigth{
     display: flex;
     width: 65%;
}
.rigth img {
     width: 100%;
}

.grid-logo{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);   
    gap: 10px; 
}

.grid-logo .logo{

}

.partners .small-title{
     color: black;
     font-family: sans-serif;
     font-size: 40px;
     font-weight: 500;
}

.grid-logo div:nth-child(1) p{
    animation-delay: 0.2s;
}

.grid-logo div:nth-child(2) p{
    animation-delay: 0.4s;
}

.grid-logo div:nth-child(3) p{
    animation-delay: 0.6s;
}

.grid-logo div:nth-child(4) p{
    animation-delay: 0.8s;
}
.grid-logo div:nth-child(5) p{
    animation-delay: 0.10s;
}
.grid-logo div:nth-child(6) p{
    animation-delay: 0.12s;
}
.grid-logo div:nth-child(7) p{
    animation-delay: 0.14s;
}
.grid-logo div:nth-child(8) p{
    animation-delay: 0.16s;
}
.grid-logo div:nth-child(9) p{
    animation-delay: 0.18s;
}

.grid-logo .slide-up{
    animation: slideUp 0.8s ease forwards;
    transform: translateY(100px);
    opacity: 0;
    font-family: sans-serif;
     width: 250px;
     height: 200px;
}

@keyframes slideUp{
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp{
    to{
        transform: translateY(0);
        opacity: 1;
    }
}








/* section4 <!-- image scrollabe horizontalement --> */
.top2 {
     display: flex;
     justify-content: space-between;
     margin: 10px;
     height: 220px;
     align-items: end;
}

.top2 .small-title {
     color: black;
     width: 40%;
     font-size: 40px;
}

.top2 .fleches{
     display: flex;
     width: 8%;
     
}

.btn-fleche{
     display: flex;
     align-items: center;
     gap: 5px;    
}

.btn-fleche i{
     cursor: pointer;
     
}

.scroll-image{
     display: flex;
     gap: 30px;
     margin: 10px;
     overflow-x: scroll;
}

.scroll-image::-webkit-scrollbar {
    display: none;
}

.containerImage p{
     color: gray;
}
 





/* Press Releases  <!-- quelque revue de press  -->*/
.container-image{
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 10px;
     height: 420px;
     width: 30%;
     justify-content: space-between;
     cursor: pointer;
}

.container-image h3{
     font-size: 21px;
 
}

.container-image p{
     color: gray;
}

.section-5{
     display: flex;
     flex-direction: column;
     gap: 30px;
}

.section-5 .more{
     display: flex;
     width: 200px;
     gap: 20px;
     margin-left: 20px;

}

.press{
     display: flex;
     gap: 10px;
     margin: 15px;
     justify-content: space-between;
    
}

.experience-card{
     display: flex;
     justify-content: space-between;
     padding-left: 30px;
     margin: 15px;
     background-color: rgb(244, 246, 249);
     height: 300px;
}

.experience-card .info{
     width: 35%;
     display: flex;
     flex-direction: column;
     gap: 40px;
      
}

.info .small-title{
     font-size: 40px;
}

.info button {
     border: none;
     width: 180px;
}







/* footer */

footer{
     display: flex;
     gap: 30px;
     flex-direction: column;

}

footer .structures{
     display: flex;
     margin: 15px;
     gap: 20px;
     justify-content: space-between;
}

.structures .elt{
     display: flex;
     flex-direction: column;
     gap: 10px;
}

footer .input{
     display: flex;
     flex-direction: column;
     gap: 15px;
     width: 25%;
}

.elt form{
     display: flex;
     flex-direction: column;
     gap: 15px;
}

form input{
     width: 250px;
     border: none;
     padding: 10px;
     border: solid 1px #ddd;
}

form button {
     border: none;
}

.stru-title{
     color: gray;
}

footer .contact{
     display: flex;
     justify-content: space-between;
     margin-top: 50px;
     margin-bottom: 50px;
     margin-left: 15px;
     margin-right: 15px;
}